.idea
/adash
/bin/*
/embed/*
*/.vagrant/*
*.log
*.pyc
virtualbox
action_provision
*.sol
*.rb
config
adash-linux-x86_64
kubectl
*.tar.xz
vagrant_cwd
k0s_logs.txt
tests/K3sOnVagrant/k3s
tests/KindOnVagrant/kind
tests/KindOnVagrant/kubectl.sha256
tests/microK8SOnVagrant/k3s
tests/microK8SOnVagrant/k3s-arm64
tests/minikubeOnVagrant/dump.txt
tests/minikubeOnVagrant/k3s
__pycache__/
*.py[cod]