html, body, #root {
  height: 100%;
}
.wide-context-selector .pf-c-context-selector {
  --pf-c-context-selector--Width: 30rem
}
.table-no-extra-padding {
  --pf-c-table--nested--first-last-child--PaddingRight: var(--pf-global--spacer--md);
  --pf-c-table--nested--first-last-child--PaddingLeft: var(--pf-global--spacer--md);
}
.padded-bullseye {
  --pf-l-bullseye--Padding: 1rem;
}
