---
name: Lint and Build

on:
  workflow_dispatch:
  pull_request:
  push:
    branches: [ main ]

permissions:
  contents: read
  packages: write

env:
  GO_VERSION: 1.16
  NODE_VERSION: 16

jobs:
  lint-and-build:
    runs-on: ubuntu-latest
    steps:

      - name: Check out repo
        uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: ${{ env.GO_VERSION }}

      - name: Cache Go build dirs
        uses: actions/cache@v3
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ env.GO_VERSION }}-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-${{ env.GO_VERSION }}-

      - name: Install Node
        uses: actions/setup-node@v2
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: npm
          cache-dependency-path: ui/package-lock.json

      - name: Build the embed files
        run: make embed

      - name: Build the UI
        run: make ui

      - name: Run Go linter
        uses: golangci/golangci-lint-action@v3
        with:
          version: latest
          skip-go-installation: true
          skip-cache: true

      - name: Run Javascript linter
        run: cd ui && npx eslint --max-warnings=0 src/

      - name: Check node modules security
        run: cd ui && npm audit --audit-level moderate

      - name: Build platform binaries (to make sure it works)
        run: make bin

      - name: Build container image (to make sure it works)
        run: docker build .

