---
name: "tagged-release"

on:
  push:
    tags:
      - "v*"

jobs:
  tagged-release:
    name: "Tagged Release"
    runs-on: "ubuntu-latest"

    steps:

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.16

      - name: Check out repo
        uses: actions/checkout@v2
        with:
          submodules: recursive

      - name: Install Node
        uses: actions/setup-node@v2
        with:
          node-version: 16
          cache: npm
          cache-dependency-path: ui/package-lock.json

      - name: Make sure tag version matches package.json
        run: |
          if [ $(git tag) != v$(cd ui && node print-version.js) ]; then
            echo "::error file=ui/package.json::Tag does not match package.json version"
            exit 1
          fi

      - name: Build adash platform binaries
        run: make bin

      - name: Build container image
        run: docker build . -t altinity-dashboard:latest -t altinity-dashboard:$(cd ui && node print-version.js)

      - name: Create the release
        uses: "marvinpinto/action-automatic-releases@latest"
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          prerelease: true
          files: |
            bin/*

      - name: Log in to GitHub registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata for container image
        id: meta
        uses: docker/metadata-action@v3
        with:
          images: ghcr.io/altinity/altinity-dashboard

      - name: Push to GitHub registry
        uses: docker/build-push-action@v2
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

      - name: Bump the package.json version number
        run: (cd ui && npm version patch)

      - name: Create pull request bumping the version number
        uses: peter-evans/create-pull-request@v3
        with:
          commit-message: 'Automatic version number bump after release'
          title: 'Automatic version number bump after release'
          branch: main
          delete-branch: true

